@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');
/* Selector universal */

* {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Selectores (etiquetas) */
body {
    background-color: #dcdcdc;
}

h1 {
    color: #ffa500;
    text-align: center;
}

p {
    color: #0000ff;
    font-family: 'Roboto Mono', monospace;
}

/* Selectores (id) */
#parrafoVerde {
    color: #008000;
}

/* Selectores (clase) */
.parrafpRojo {
    color: #ff0000;
}

/* Selectores (Descendiente) */
div p {
    color: #8a2be2;
}